{% extends 'authenticate/base_zero.html' %}
{% load static %}
{% block content %}
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>Resultados</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Widgets</li>
                    <li class="breadcrumb-item active">Chart</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="mb-4 d-flex justify-content-end" style="margin-right: 2rem">
            <a class="btn btn-success btn-block" href="{% url 'estadisticas' %}"><i data-feather="home"></i>Ir a tus
              estadísticas</a>
          </div>
          <div class="container-fluid">
            <!-- LISTA DE RESULTADOS-->

                <div class="row">
                  {% if numero_resultados == 0 %}
                  <p>Aún no has registrado ninguna coversación</p>
                  {% else %}
                  {% for resultado in resultados %}
                  <div class="col-xl-4 col-md-12 box-col-12">                   
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Resultado - {{resultado.Resultado_Diagnostico}}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{resultado.Resultado_Fecha}}</p>
                        <p class="card-text">{{resultado.Resultado_Descripcion}}</p>
                      </div>
                    </div>    
                  </div>
                  {% endfor %}
                  {% endif %}
            <!-- status widget Ends-->
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}    