{% extends 'authenticate/base_zero.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>
          Ecommerce</h3>
      </div>
      <div class="col-12 col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="home-item" href="index.html"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Ecommerce</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid ecommerce-dash">
  <div class="row">
    <div class="col-xl-3 col-md-6 dash-xl-33 dash-lg-50">
      <div class="card sales-state">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="card bg-primary">
              <div class="card-header card-no-border bg-primary">
                <div class="media media-dashboard">
                  <div class="media-body">
                    <h5 class="mb-0 text-light">Sales Stats</h5>
                  </div>
                  <div class="icon-box"><i data-feather="more-horizontal"></i></div>
                </div>
              </div>
              <div class="card-body p-0">
                <div id="sales-state-chart"></div>
              </div>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="sales-small-chart">
              <div class="card-body p-0 m-auto">
                <div class="sales-small sales-small-1"></div>
                <h6>300</h6><span>Watch Sale </span>
              </div>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="sales-small-chart">
              <div class="card-body p-0 m-auto">
                <div class="sales-small sales-small-2"></div>
                <h6>1120</h6><span>Phone Sale</span>
              </div>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="sales-small-chart">
              <div class="card-body p-0 m-auto">
                <div class="sales-small sales-small-3"></div>
                <h6>530</h6><span>Tablet Sale </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-md-6 dash-xl-33 dash-lg-50">
      <div class="card pb-0 invoice-overviwe">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Escalas de depresión durante el mes</h5>
          </div>
        </div>
        <div class="card-body pt-0">
          <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
    <!--               <div class="col-xl-4 col-md-6 dash-xl-50 dash-29">
                <div class="card bg-primary get-support">
                  <div class="card-body">
                    <div class="support-sec-img"><img class="img-fluid" src="{%  static 'assets/images/dashboard-2/robotatencion.png'%}" alt=""></div>
                    <div class="support-detail">
                      <h5>Get support 24 hours</h5>
                      <p>Check Our new service & feature about sales!                             </p><a class="btn btn-outline-white_color" href="product-page.html">Interested?</a>
                    </div>
                  </div>
                </div>
              </div> -->
    <!--               <div class="col-xl-5 col-md-12 dash-xl-50 dash-lg-100 dash-39">
                <div class="card ongoing-project recent-orders">
                  <div class="card-header card-no-border">
                    <div class="media media-dashboard">
                      <div class="media-body"> 
                        <h5 class="mb-0">Recent Orders</h5>
                      </div>
                      <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                        <div class="icon-box-show onhover-show-div">
                          <ul> 
                            <li> <a>
                                 Done</a></li>
                            <li> <a>
                                 Pending</a></li>
                            <li> <a>
                                 Rejected</a></li>
                            <li> <a>In Progress</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-0">
                    <div class="table-responsive">
                      <table class="table table-bordernone">
                        <thead> 
                          <tr> 
                            <th> <span>Product Name</span></th>
                            <th> <span>Customer</span></th>
                            <th> <span>Price                                     </span></th>
                            <th> <span>Quantity</span></th>
                            <th> <span>Status</span></th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr>
                            <td>
                              <div class="media">
                                <div class="square-box me-2"><img class="img-fluid b-r-5" src="{%  static 'assets/images/dashboard-2/running-shoe.png'%}" alt=""></div>
                                <div class="media-body ps-2">
                                  <div class="avatar-details"><a href="product-page.html">
                                      <h6>Nike Sports NK</h6></a><span> Free delivery</span></div>
                                </div>
                              </div>
                            </td>
                            <td class="img-content-box">
                              <h6>Harold More</h6><span>UK Desig Team</span>
                            </td>
                            <td>
                              <h6>$99.85</h6><span>Nok                                   </span>
                            </td>
                            <td> 
                              <h6>20</h6>
                            </td>
                            <td>
                              <div class="badge badge-light-primary">Done</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="square-box me-2"><img class="img-fluid b-r-5" src="{%  static 'assets/images/dashboard-2/hand-bag.png'%}" alt=""></div>
                                <div class="media-body ps-2">
                                  <div class="avatar-details"><a href="product-page.html">
                                      <h6>Women Bag</h6></a><span> ₹83.65 delivery</span></div>
                                </div>
                              </div>
                            </td>
                            <td class="img-content-box">
                              <h6>Daniel Poller</h6><span>UX Ninjas</span>
                            </td>
                            <td>
                              <h6>$79.99</h6><span>Nok                                   </span>
                            </td>
                            <td> 
                              <h6>12</h6>
                            </td>
                            <td>
                              <div class="badge badge-light-secondary">Pending</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="square-box me-2"><img class="img-fluid b-r-5" src="{%  static 'assets/images/dashboard-2/sun-glasses.png'%}" alt=""></div>
                                <div class="media-body ps-2">
                                  <div class="avatar-details"><a href="product-page.html">
                                      <h6>Sunglasses</h6></a><span> Free delivery</span></div>
                                </div>
                              </div>
                            </td>
                            <td class="img-content-box">
                              <h6>Frank Borker</h6><span>SF Dev Team</span>
                            </td>
                            <td>
                              <h6>$59.20</h6><span>Nok                                    </span>
                            </td>
                            <td> 
                              <h6>23</h6>
                            </td>
                            <td>
                              <div class="badge badge-light-danger">Rejected</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="square-box me-2"><img class="img-fluid b-r-5" src="{%  static 'assets/images/dashboard-2/shirt.png'%}" alt=""></div>
                                <div class="media-body ps-2">
                                  <div class="avatar-details"><a href="product-page.html">
                                      <h6>Cotton T-shirt</h6></a><span> ₹283.65 delivery</span></div>
                                </div>
                              </div>
                            </td>
                            <td class="img-content-box">
                              <h6>Adam Moris</h6><span>Moscow Office</span>
                            </td>
                            <td>
                              <h6>$49.99</h6><span>Nok                                    </span>
                            </td>
                            <td> 
                              <h6>34</h6>
                            </td>
                            <td>
                              <div class="badge badge-light-info">In Progress</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
 -->
    <!-- <div class="col-xl-4 col-md-6 dash-xl-50 dash-29">
                <div class="card our-activities">
                  <div class="card-header card-no-border">
                    <div class="media media-dashboard">
                      <div class="media-body"> 
                        <h5 class="mb-0">Our Activities      </h5>
                      </div>
                      <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                        <div class="icon-box-show onhover-show-div">
                          <ul> 
                            <li> <a>
                                 Latest </a></li>
                            <li> <a>
                                 Earlist</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-0">
                    <div class="table-responsive">
                      <table class="table table-bordernone">                          
                        <tbody> 
                          <tr>
                            <td>
                              <div class="media">
                                <div class="icon-wrappar"><i class="fa fa-trophy font-primary">                                    </i></div>
                                <div class="media-body"><a href="#">
                                    <h5>Win best seller of the year awaed </h5></a>
                                  <p>Company, San Francisco</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge badge-light-theme-light font-theme-light">1 day ago</span></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="icon-wrappar"><i class="fa fa-check-circle font-secondary">                                   </i></div>
                                <div class="media-body"><a href="#">
                                    <h5>Apporved our product</h5></a>
                                  <p>Elisse joson, San Francisco</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge badge-light-theme-light font-theme-light">2 weeks ago</span></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="icon-wrappar"><i class="fa fa-bookmark font-success">                                    </i></div>
                                <div class="media-body"><a href="#">
                                    <h5>Win best seller of the year awaed </h5></a>
                                  <p>Company, San Francisco</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge badge-light-theme-light font-theme-light">3 day ago</span></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="media">
                                <div class="icon-wrappar"><i class="fa fa-shopping-basket font-warning">                                     </i></div>
                                <div class="media-body"><a href="#">
                                    <h5>Apporved our product in checking</h5></a>
                                  <p>35k Sales</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge badge-light-theme-light font-theme-light">2 hours ago</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->
    <div class="col-xl-3 col-md-6 dash-xl-50 dash-32">
      <div class="card revenue-category">
        <div class="card-header card-no-border">
          <div class="media">
            <div class="media-body">
              <h5 class="mb-0">Revenue by Category</h5>
            </div>
            <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
              <div class="icon-box-show onhover-show-div">
                <ul>
                  <li> <a>
                      Done</a></li>
                  <li> <a>
                      Pending</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="donut-inner">
            <h5>16,349</h5>
            <h6>2,174 in pending</h6>
          </div>
          <div id="revenue-chart"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}

<script>
  {% block jquery %}
  var endpoint = '/api/chart/data/'
  var defaultData = []
  var labels = [];
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function (data) {
      labels = data.labels
      defaultData = data.default
      setChart()
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }
  })

  function setChart() {
    var ctx2 = document.getElementById("myChart3");
    var myChart = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          data: defaultData,
          backgroundColor: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.warning, zetaAdminConfig.danger],
          borderColor: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.warning, zetaAdminConfig.danger],
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          display: false
        }
      }
    });

    var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: labels,
        datasets: [{
          label: '# of Votes',
          data: defaultData,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
  {% endblock %}
</script>