{% extends 'authenticate/base_zero.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>
          Estadisticas relacionadas a tus resultados</h3>
      </div>
      <div class="col-12 col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="home-item" href="index.html"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Estadisticas</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid starts-->
<div class="mb-4 d-flex justify-content-end" style="margin-right: 1rem">
  <a class="btn btn-success btn-block" href="{% url 'estadisticas2' %}"><i data-feather="home"></i>Ir a tus
    resultados</a>
</div>
<div class="container-fluid ecommerce-dash">
  <div class="row">
    <div class="col-xl-3 col-md-6 dash-xl-33 dash-lg-50">
      <div class="card sales-state">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="card bg-primary">
              <div class="card-header card-no-border bg-primary">
                <div class="media media-dashboard">
                  <div class="media-body">
                    <h5 class="mb-0 text-light">Tus diagnósticos en promedio dan como resultado:</h5>

                  </div>
                </div>
              </div>
              <div class="card-body">
                <h3>{{promedio_descripcion}}</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-5 col-md-6 dash-xl-33 dash-lg-50">
      <div class="card pb-0 invoice-overviwe">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Escalas de depresión durante el mes</h5>
          </div>
        </div>
        <div class="card-body pt-0">
          <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 dash-xl-33 dash-32">
      <div class="card revenue-category">
        <div class="card-header card-no-border">
          <div class="media">
            <div class="media-body">
              <h5 class="mb-0">Resultados durante el mes</h5>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <!--           <div class="donut-inner">
            <h5>16,349</h5>
            <h6>2,174 in pending</h6>
          </div> -->
          <canvas id="myChart4"> </canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 dash-xl-100 dash-lg-50">
      <div class="card pb-0 invoice-overviwe">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Tu avance</h5>
          </div>
        </div>
        <div class="card-body pt-0">
          <canvas id="myChart6"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}

<script>
  {% block jquery %}
  var endpoint = '/api/chart/data/'
  var defaultData = []
  var labels = [];
  var total = 0;
  var fechas = []
  var resultados_totales = []
  var userIdOut = "{{user.id}}"
  userIdOut = parseInt(userIdOut)
  $.ajax({
    method: "GET",
    url: endpoint,
    data: { userId: userIdOut },
    success: function (data) {
      labels = data.labels
      defaultData = data.default
      total = data.total
      fechas = data.fechas
      resultados_totales = data.resultados_totales
      setChart()
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }
  })

  function setChart() {

    var yLabels = {
      1: 'Sin depresión o mínima',
      2: 'Depresión leve',
      3: 'Depresión moderada',
      4: 'Moderadamente severa',
      5: 'Muy severa',
    }

    var ctx2 = document.getElementById("myChart3");
    var ctx3 = document.getElementById("myChart4");
    var ctx4 = document.getElementById("myChart6")

    Chart.pluginService.register({
      beforeDraw: function (chart) {
        if (chart.config.options.elements.center) {
          // Get ctx from string
          var ctx = chart.chart.ctx;

          // Get options from the center object in options
          var centerConfig = chart.config.options.elements.center;
          var fontStyle = centerConfig.fontStyle || 'Arial';
          var txt = centerConfig.text;
          var color = centerConfig.color || '#000';
          var maxFontSize = centerConfig.maxFontSize || 30;
          var sidePadding = centerConfig.sidePadding || 10;
          var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
          // Start with a base font of 30px
          ctx.font = "20px " + fontStyle;

          // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
          var stringWidth = ctx.measureText(txt).width;
          var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

          // Find out how much the font can grow in width.
          var widthRatio = elementWidth / stringWidth;
          var newFontSize = Math.floor(20 * widthRatio);
          var elementHeight = (chart.innerRadius * 2);

          // Pick a new font size so it will not be larger than the height of label.
          var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
          var minFontSize = centerConfig.minFontSize;
          var lineHeight = centerConfig.lineHeight || 25;
          var wrapText = false;

          if (minFontSize === undefined) {
            minFontSize = 15;
          }

          if (minFontSize && fontSizeToUse < minFontSize) {
            fontSizeToUse = minFontSize;
            wrapText = true;
          }

          // Set font settings to draw it correctly.
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
          var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
          ctx.font = fontSizeToUse + "px " + fontStyle;
          ctx.fillStyle = color;

          if (!wrapText) {
            ctx.fillText(txt, centerX, centerY);
            return;
          }

          var words = txt.split(' ');
          var line = '';
          var lines = [];

          // Break words up into multiple lines if necessary
          for (var n = 0; n < words.length; n++) {
            var testLine = line + words[n] + ' ';
            var metrics = ctx.measureText(testLine);
            var testWidth = metrics.width;
            if (testWidth > elementWidth && n > 0) {
              lines.push(line);
              line = words[n] + ' ';
            } else {
              line = testLine;
            }
          }

          // Move the center up depending on line height and number of lines
          centerY -= (lines.length / 2) * lineHeight;

          for (var n = 0; n < lines.length; n++) {
            ctx.fillText(lines[n], centerX, centerY);
            centerY += lineHeight;
          }
          //Draw text in center
          ctx.fillText(line, centerX, centerY);
        }
      }
    });

    const configDoughnut = {
      type: 'doughnut',
      data: {
        labels: labels,
        datasets: [{
          label: 'My First Dataset',
          data: defaultData,
          backgroundColor: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.warning, zetaAdminConfig.danger],
          hoverOffset: 4
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,
          }
        },
        elements: {
          center: {
            text: total.toString(),
            color: '#1e2f65',
            fontStyle: 'Arial',
            sidePadding: 15,
            minFontSize: 15,
            lineHeight: 15
          }
        }
      }
    }

    const configBar = {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          data: defaultData,
          backgroundColor: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.warning, zetaAdminConfig.danger],
          borderColor: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.warning, zetaAdminConfig.danger],
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          display: false
        }
      }
    }

    const labelsLine = fechas;
    const dataLines = {
      labels: labelsLine,
      datasets: [{
        label: 'Nivel de depresión',
        data: resultados_totales,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
      }]
    };
    const configLine = {
      type: 'line',
      data: dataLines,
      options: {
        responsive: true,
        interaction: {
          mode: 'index',
          intersect: false,
        },
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              stepSize: 1,
              callback: function (value, index, values) {
                return yLabels[value];
              }
            }
          }],
          xAxes: [{
            ticks: {
              display: false //this will remove only the label
            }
          }]
        },
        tooltips: {
          callbacks: {
            label: function (tooltipItem, data) {
              console.log('tooltipItem ', tooltipItem)
              let num = parseInt(tooltipItem['value'])
              let text = ''
              switch (num) {
                case 1:
                  text = 'Sin depresión o Depresion minima'
                  break;
                case 2:
                  text = 'Depresion leve'
                  break;
                case 3:
                  text = 'Depresion moderada'
                  break;
                case 4:
                  text = 'Depresion moderadamente severa'
                  break;
                case 5:
                  text = 'Depresion muy severa'
                  break;
                default:
                  text = 'error'
              }
              return text;
            },
          }
        }
      }
    };

    // Doughnut Chart
    var myChart = new Chart(ctx3, configDoughnut);

    // Bar Chart
    var myChart = new Chart(ctx2, configBar);

    // Line chart
    var myChart = new Chart(ctx4, configLine);



  }
  {% endblock %}
</script>